div.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

div.logo img {
    width: 500px;
    height: auto;
}

fieldset {
    font-size: 1.15rem;
    width: 900px;
    border-radius : 10px; /* 모서리를 둥글게 */
    border: 1px solid #000000;
    padding: 20px;
}

fieldset select {
    font-size: 1.15rem;
    border: transparent;
    border-bottom: 1px solid #000000;
}

fieldset select:hover {
    font-size: 1.35rem;
    color: #b00000;
    border-bottom: 1px solid #b00000;
}

fieldset p#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

fieldset input:checked + label {
    color: #b00000;
    border-bottom: 1px solid #b00000;
}

fieldset button { 
    background-color: transparent;
    border-radius: 15px;
    font-size: 1.15rem;
    font-weight: bold;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

div.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}

caption, div.image > p {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

legend {
    font-size : 1.7rem;
}

div.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.formula[src], img.stat {
    width: 700px;
    height: auto;
    margin-bottom: 50px;
}

select {
    text-align: center;
}

table {
    width: 900px;
    text-align: center;
    margin: 100px auto;
    padding: 10px 0; 
    border: 2px solid #000000;
    border-collapse: collapse;
}

table input {
    width: 70px;
    height: 95%;
    text-align: center;
    font-size: 1.15rem;
    background-color: transparent;
    border: transparent;
}

table select {
    width: 150px;
    height: 95%;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}

table select:hover {
    font-size: 1.35rem;
    color: #b00000;
}

table button {
    background-color: transparent;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
}

th {
    height: 35px;
    font-size: 1.2rem;
    border-left: 1px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #FFFFCC;
}

th[colspan = "2"] {
    border-bottom: 1px solid #000000;
}

td {
    height: 35px;
    font-size: 1.15rem;
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 5px;
}

tr td:first-child, tr td:nth-child(2) {
    background-color: #CCFFCC;
    font-weight: bold;
}

tr:nth-child(6) td:nth-child(2) {
    background-color: #FFFFFF;
}

input[type="text"]:focus {
    color: #1515DD;
}

@media screen and (max-width: 1000px) {
    fieldset {
        width: 90%;
    }

    table {
        width: 90%;
    }
    
    table input {
        font-size: 1.05rem;
    }
    
    table select {
        width: 125px;
        font-size: 1.05rem;
    }
    
    table select:hover {
        font-size: 1.25rem;
        color: #b00000;
    }
    
    th {
        font-size: 1.1rem;
    }
    
    td {
        height: 35px;
        font-size: 1.05rem;
        border: 1px solid #000000;
        border-collapse: collapse;
        padding: 5px;
    }
}

@media (max-width: 850px) {
    fieldset {
        width: 95%;
    }

    fieldset button { 
        font-size: 0.95rem;
        padding: 3px;
    }

    table {
        width: 95%;
    }
    table input {
        font-size: 0.95rem;
        width: 45px;
    }
    
    table select {
        width: 100px;
        font-size: 0.95rem;
    }
    
    table select:hover {
        font-size: 1.15rem;
        color: #b00000;
    }
    
    th {
        font-size: 1rem;
    }
    
    td {
        height: 35px;
        font-size: 0.95rem;
        border: 1px solid #000000;
        border-collapse: collapse;
        padding: 5px;
    }

    caption, div.image > p, legend {
        font-size: 1.4rem;
    }

    img.formula[src], img.stat {
        width: 85%;
    }
}

@media (max-width: 700px) {
    fieldset, fieldset button, fieldset select {
        font-size: 1rem;
    }

    table input {
        font-size: 0.8rem;
        width: 30px;
    }
    
    table select {
        width: 100px;
        font-size: 0.8rem;
    }

    table button {
        font-size: 0.8rem;
        padding: 3px;
    }
    
    table select:hover {
        font-size: 1rem;
    }
    
    th {
        font-size: 0.8rem;
    }
    
    td {
        height: 35px;
        font-size: 0.8rem;
        border: 1px solid #000000;
        border-collapse: collapse;
        padding: 5px;
    }

    caption, div.image > p {
        font-size: 1.3rem;
    }

    img.formula[src], img.stat {
        width: 95%;
    }
}

@media (max-width: 600px) {
    fieldset, table, img.formula[src], img.stat {
        width: auto;
    }

    fieldset, div.logo {
        margin: 0;
    }

    fieldset, fieldset button, fieldset select {
        font-size: 0.75rem;
    }

    table input {
        font-size: 0.5rem;
        width: 20px;
    }
    
    table select {
        width: 100px;
        font-size: 0.5rem;
    }

    table button {
        font-size: 0.5rem;
        padding: 3px;
    }
    
    table select:hover {
        font-size: 0.7rem;
    }
    
    th {
        font-size: 0.5rem;
    }
    
    td {
        height: 35px;
        font-size: 0.5rem;
        border: 1px solid #000000;
        border-collapse: collapse;
        padding: 5px;
    }

    caption, div.image > p {
        font-size: 1.1rem;
    }

    img.formula[src], img.stat {
        width: 95%;
    }

    
}