div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 50px 0;
}

div.logo a  {
    display: flex;
    justify-content: center;
    width: 100%
}

div.logo a img {
    width: 540px;
}

fieldset {
    width: 900px;
    border-radius : 10px; /* 모서리를 둥글게 */
    border: 1px solid #000000;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;
}

fieldset legend {
    font-size : 28px;
}

fieldset p {
    font-size : 20px;
    margin-bottom: 50px;
}

fieldset select {
    font-size: 20px;
    text-align: center;
    border: transparent;
    border-bottom: 1px solid #000000;
}

fieldset select:hover {
    font-size: 22px;
    color: #b00000;
    border-bottom: 1px solid #b00000;
}

fieldset select:focus {
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid #000000;
}

fieldset p#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0;
}

button { 
    background-color: transparent;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

button:hover {
    background-color: #b5ffff;
}

button:active {
    background-color: #66aaff;
}

fieldset input:checked + label {
    color: #b00000;
    border-bottom: 1px solid #b00000;
}

caption, div.image > p {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

img.formula[src], img.stat {
    width: 900px;
    height: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
}

table {
    width: 900px;
    text-align: center;
    margin: 50px 0;
    padding: 10px 0; 
    border: 2px solid #000000;
    border-collapse: collapse;
    box-sizing: border-box;
}

table input {
    width: 70px;
    height: 95%;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: transparent;
}

table select {
    width: 95%;
    height: 95%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}

table select:hover {
    font-size: 20px;
    color: #b00000;
}

table select:focus {
    font-size: 18px;
    color: #000000;
}

table button {
    background-color: transparent;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
}

th {
    height: 35px;
    font-size: 1.2rem;
    border-left: 1px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #FFFFCC;
}

th[colspan = "2"] {
    border-bottom: 1px solid #000000;
}

td {
    height: 35px;
    font-size: 18px;
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 5px;
}

tr td:first-child, tr td:nth-child(2) {
    background-color: #CCFFCC;
    font-weight: bold;
}

tr:nth-child(6) td:nth-child(2) {
    background-color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    fieldset {
        width: 90%;
    }

    table {
        width: 90%;
    }
    
    table input {
        font-size: 1.05rem;
    }
    
    table select {
        width: 125px;
        font-size: 1.05rem;
    }
    
    select:hover {
        font-size: 1.25rem;
        color: #b00000;
    }
    
    th {
        font-size: 1.1rem;
    }
    
    td {
        height: 35px;
        font-size: 1.05rem;
        border: 1px solid #000000;
        border-collapse: collapse;
        padding: 5px;
    }
}

@media (max-width: 850px) {
    fieldset {
        width: 95%;
    }

    fieldset button { 
        font-size: 0.95rem;
        padding: 3px;
    }

    table {
        width: 95%;
    }
    table input {
        font-size: 0.95rem;
        width: 45px;
    }
    
    table select {
        width: 100px;
        font-size: 0.95rem;
    }
    
    select:hover {
        font-size: 1.15rem;
        color: #b00000;
    }
    
    th {
        font-size: 1rem;
    }
    
    td {
        height: 35px;
        font-size: 0.95rem;
        border: 1px solid #000000;
        border-collapse: collapse;
        padding: 5px;
    }

    caption, div.image > p, legend {
        font-size: 1.4rem;
    }

    img.formula[src], img.stat {
        width: 85%;
    }
}

@media (max-width: 700px) {
    fieldset, fieldset button, fieldset select {
        font-size: 1rem;
    }

    table input, table select, table button, th, td {
        font-size: 0.8rem;
    }

    table input {
        width: 30px;
    }
    
    table select {
        width: 100px;
    }

    table button {
        padding: 3px;
    }
    
    select:hover {
        font-size: 1rem;
    }

    caption, div.image > p {
        font-size: 1.1rem;
    }

    img.formula[src], img.stat {
        width: 95%;
    }
}

@media (max-width: 600px) {
    fieldset, fieldset button, fieldset select {
        font-size: 0.8rem;
    }

    table input, table select, table button, th, td {
        font-size: 0.6rem;
    }

    table input {
        width: 30px;
    }
    
    table select {
        width: 100px;
    }

    table button {
        padding: 3px;
    }
    
    select:hover {
        font-size: 0.85rem;
    }

    caption, div.image > p {
        font-size: 0.95rem;
    }

    div.logo {
        width: auto;
    }

    div.logo img {
        width: 350px;
        height: auto;
    }
}

@media (max-width: 350px) {
    fieldset, fieldset button, fieldset select {
        font-size: 0.6rem;
    }

    fieldset {
        padding: 10px;
    }

    table {
        width: 350px;
        padding: 30px;
    }

    table input, table select, table button, th, td {
        font-size: 0.45rem;
    }

    table input {
        width: 15px;
    }
    
    table select {
        width: 70px;
    }

    table button {
        padding: 3px;
    }
    
    select:hover {
        font-size: 0.6rem;
    }

    caption, div.image > p {
        font-size: 0.8rem;
    }

    div.logo {
        width: auto;
        margin: 20px;
    }

    div.logo img {
        width: 220px;
        height: auto;
    }

    div.fieldset {
        margin: 0
    }

    div.table {
        height: auto;
    }

    td { 
        padding: 0;
    }
}